<div class="container">
<div class="row">
<div class="col align-self-center">
<h1 class="text-center">New article</h1>
<%= form_with scope: :article, url: articles_path, local: true, html: {class: 'col-4'} do |form| %>
  <p>

    <%= form.label :title %><br>
    <%= form.text_field :title %>
  </p>

  <p>
    <%= form.label :text %><br>
    <%= form.text_area :text %>
  </p>

  <p>
    <%= form.submit :class => 'btn btn-success' %>
  </p>
<% end %>
</div>
</div>
</div>
