<!DOCTYPE html>
<html lang="en">
<%= render('blocks/head') %>
  <body>
      <%= render('blocks/header') %>
        <%= yield %>
      <%= render('blocks/footer') %>
    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <%= render('blocks/scripts') %>
  </body>
</html>
